<footer class="footer">
  <div class="footer-top">
  <div class="row">
    <div class="col-sm-12 full-height">
    <div class="footer-logo-wrapper">
      <img
        class="footer-logo"
        src="img/tmg-logo-powered-by-elizabeth-locke.png"
        alt="the-mortgage-group-logo"
      />
    </div>
    </div>
    <div class="col-sm-6 col-md-6 full-height">
      <div class="footer-title"><span class="bold">My Mortgage Brokerage</div>
      <div class="tmg-footer-blurb">
        I am part of <span class="bold">TMG The Mortgage Group</span> – an award-winning Canadian mortgage
        brokerage with a national team of over 800 qualified and accredited
        mortgage brokers, agents and associates providing residential and
        commercial mortgage services. Since 1990, TMG has helped over a quarter
        million Canadians get the best financing solutions and mortgage rates
        through Canadian mortgage lenders from coast to coast.
      </div>
    </div>
    <div class="col-sm-6 col-md-6 full-height">
      <div class="footer-contact">
        <div class="footer-title"><span class="bold">Get in Touch</div>
        <div><ion-icon name="call"></ion-icon> (226) 840-5005</div>
        <div><ion-icon name="mail"></ion-icon> elizabeth@lockemortgages.com</div>
        <div><ion-icon name="person"></ion-icon> FSRA Agent: #K-159959</div>
        <div><ion-icon name="people"></ion-icon> FSRA Brokerage: #10315</div>
        <div class="social-contact-icons">
          <a href="https://www.linkedin.com/in/elizabeth-locke-4b015b207/"><ion-icon name="logo-linkedin"></ion-icon></a>
          <a href="https://twitter.com/agent_mortgage"><ion-icon name="logo-twitter"></ion-icon></a>
          <a href="https://twitter.com/agent_mortgage"><ion-icon name="logo-facebook"></ion-icon></a>
        </div>
      </ul>
      </div>
    </div>
  </div>
  </div>
  <div class="container copyright bold">
      &copy Elizabeth Locke Mortgages
  </div>
</footer>
